label.large {
  font-size: larger;
  font-weight: bold;
}

label.strong {
  color: @theme_selected_bg_color;
}

.drawing {
  border-color: alpha(@theme_fg_color, .8);
  color: @theme_fg_color;
  font-size: 1.2rem;
}

#day-numbers {
  border-right: none;
}

#day-numbers overshoot {
  background: none;
}

dialog > box {
  margin: 10px;
}

button.action {
  margin: 10px 5px 0 0;
}

button.action:last-child {
  margin-right: 0;
}
